.carouselContainer {
  align-items: center;
  width: 1351px;
  height: 436.89px;
  margin: 0;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

/* Container dos cards */
.flexContainer {
  width: 100%;
  align-items: center;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 0 50px; 
  margin: 0 auto;
  justify-content: flex-start;
}

/* Botões de scroll */
.scrollButton {
  font-size: 24px;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  height: 100%;
  width: 60px;
  background-color: transparent;
  color: #f8f8f8;
  border: none;
  cursor: pointer;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease;
}

.scrollLeft {
  left: 0px;
  display: flex;
  align-items: center;
}

.scrollRight {
  right: 0px;
  display: flex;
  align-items: center;
}

/* Ajuste para os cards */
.card {
  position: relative;
  flex: 0 0 250.59px;
  height: 436.89px;
  overflow: visible;
  cursor: pointer;
  text-align: left;
  opacity: 0.7;
}

.card.fullyVisible {
  opacity: 1;
}

/* Ajuste para os cards parcialmente visíveis */
.card:not(.fullyVisible) {
  pointer-events: none;
}

@media (max-width: 768px) {
  .carouselContainer {
    align-items: center;
    width: 100%;
    margin: 0;
    position: relative;
    overflow: hidden;
  }
  
  /* Container dos cards */
  .flexContainer {
    width: 100%;
    align-items: flex-start;
    display: flex;
    overflow-x: hidden;
    gap: 0.5rem;
    scroll-behavior: smooth;
    padding: 0 20px; 
    margin: 0;
  }
  
  /* Botões de scroll */
  .scrollButton {
    display: none;
  }
}
