.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background: linear-gradient(to bottom, #000000, #1C3039);
  color: #fff;
  align-items: center;
  padding-bottom: 35px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
}


.footer a {
  text-decoration: none;
  color: #A0A0A0;
  list-style: none;
}

.footer a:hover {
  text-decoration: underline;
  color: #FFF;
}

.footerColumns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
  border-bottom: 1px solid #323D46;
}

.footerColumns > div {
  text-align: left;
  flex: 1 1 calc(20% - 16px);
  min-width: 200px;
  margin-bottom: 20px;
}

.footerColumns ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
}

.footerColumns ul li {
  margin: 8px 0;
  font-size: 14px;
}

.title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.list {
 
  list-style: none;
  padding: 0;
}

.list li {
  margin-bottom: 5px;
}

.list a {
  color: #fff;
  text-decoration: none;
}

.list a:hover {
  text-decoration: underline;
}

.textIconWrapper {
  display: inline-flex;
  align-items: center;
  gap: 5px; 
}

.leftIcon {
  width: 16px;
  height: 16px;
  fill: #FFF;
}

.leftIconPremium {
  width: 16px;
  height: 16px;
  fill: #FAB818;
}

.titlePremium {
  color: #FAB818;
}

.titlePremium:hover {
  color: #FFF;
  text-decoration: underline;
}

.footerLegalWrapper {
  width: 76%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 10px; 
}

.footerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.division {
  width: 0.5px;
  height: 20px; 
  background-color: #A0A0A0;
  margin: 0 10px; 
  display: inline-block; 
  vertical-align: middle;
}

.copyright {
  color: #A0A0A0;
}

.footerLogo {
  width: 158px;
  height: 12px;
}

.footerLegalWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  gap: 20px;
  flex-basis: 100%; 
}

.dropdownTrigger {
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.dropdownLanguage {
  color: #A0A0A0; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdownIcon {
  width: 24px;
  height: 24px;
  fill: #A0A0A0; 
}