.header {
  background-color: #23252B;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100vw;
  left: 0;
  right: 0;
}

.container {
  width: 100%;
  margin: 0;
  padding: 0 1rem;
  gap: 1rem;
  display: flex;
  align-items: center;
}

.headerLogo {
  flex: 0 0 auto;
}

.headerMenu {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  height: 60px;
  width: 120px;
}

.headerLogo .logoContainer:hover .logo {
  filter: brightness(0) invert(1);
  transition: filter 0.3s ease;
}

.headerLogoMobile {
  display: none;
  margin-left: 20px;
}

.logoMobileContainer {
  padding: 15px;
}

.hamburgerLinks {
  position: absolute; 
  top: 100%;
  left: 0;
  width: 200px;
  background-color: #333; 
  color: #fff; 
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1000;
}

.hamburgerLinks a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
}

.hamburgerLinks a:hover {
  background-color: rgba(255, 255, 255, 0.1); 
}

.navList {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 0;
  height: 60px;
}

.navItem {
  position: relative;
  height: 100%;
}

.navSeparator {
  width: 1px;
  height: 20px;
  background-color: #4A4E58;
  margin: 0 4px;
}

.navLink {
  font-family: Lato, Helvetica Neue, helvetica, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  gap: 2px;
  color: #DADADA;
  text-decoration: none;
  cursor: pointer;
  padding: 0 1rem;
  height: 100%;
  white-space: nowrap;
}

.dropdownIcon {
  width: 24px;
  height: 24px;
  fill: #DADADA;
}

.navLink:hover {
  color: #ffffff;
  background-color: #141519;
}

.activeNews {
  color: #ffffff;
  background-color: #141519;
}

.activeNews .dropdownIcon {
  fill: #f47521;
}

.newsDropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #141519;
  padding: 0.5rem 0px;
  width: 300px;
  z-index: 1000;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #141519;
  padding: 0.8rem 0px;
  width: 862px;
  height: 286px;
  z-index: 1000;
}

.navDropdown {
  display: flex;
  gap: 0;
  position: relative;
}

.dropdownColumn {
  width: 1px;
  padding: 6px 0;
}

.dropdownColumn:first-child {
  flex: 1;
  border-right: 1px solid #23252B;
 
}

.dropdownColumn:last-child {
  padding-top: 16px;
  flex: 3;
}

.dropdownItem {
  color: #F8F8EA;
  font-size: 0.875rem;
  font-family: Lato, Helvetica Neue, helvetica, sans-serif;
  font-weight: 500;
  line-height: 1.125rem;
  text-decoration: none;
  padding: .75rem 1rem;
  display: block;
}

.dropdownItem:hover {
  background-color: #23252b;
  color: #f8f8f8;
}

.dropdownTitle {
  font-family: Lato, Helvetica Neue, helvetica, sans-serif;
  color: #a0a0a0;
  font-size: .75rem;
  margin-bottom: 0.5rem;
  padding: .8125rem 1rem;
  font-weight: 600;
  line-height: 1rem;
  text-transform: uppercase;
}

.genreGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  margin-top: 10px;
}

.genreItem {
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
  color: #dadada;
  text-decoration: none;
  padding: .75rem 1rem;
  font-size: .875rem;
  line-height: 1.125rem;
  font-weight: 500;
}

.genreItem:hover {
  background-color: #23252B;
  color: #DADADA;
}

.headerActions {
  flex: 0 0 auto;
}

.searchContainer {
  display: flex;
  align-items: center;
  gap: 0;
}

.searchIcon {
  position: relative;
}

.searchButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.iconBackground {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  transition: background-color 0.2s;
}

.iconBackgroundLoggedIn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 60px;
  transition: background-color 0.2s;
}

.iconBackgroundLoggedIn:hover,
.iconBackgroundLoggedIn.active {
  background-color: #141519;
}

.iconBackground:hover,
.iconBackground.active {
  background-color: #141519;
}

.iconBackgroundPopup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 60px;
  transition: background-color 0.2s;
  position: relative;
}

.iconBackgroundPopup :hover {
  background-color: #141519;
}

.ercHeaderSvg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.ercHeaderSvgPopup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 60px;
  gap: 8px;
}

.profileImage {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1/1;
  display: block;
}

.userProfileContainer {
  width: 120px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

/* Mobile Menu Styles */
.mobileMenu {
  display: none;
}

@media (max-width: 768px) {
  .headerMenu {
    margin: 0;
  }

  .mobileMenu {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .hamburgerButton {
    background: none;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
  }

  .mobileLogo {
    display: flex;
    align-items: center;
  }

  .logoImage {
    height: 30px;
    width: auto;
  }

  .mobileDropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #232323;
    padding: 1rem;
    border-top: 1px solid #333;
  }

  .mobileMenuItem {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 0.75rem 0;
    border-bottom: 1px solid #333;
  }

  .mobileMenuItem:last-child {
    border-bottom: none;
  }
}

/* Esconde o popup inicialmente */
.ercUpsellPopup {
  position: absolute;
  top: calc(100% + 15px); /* Increased distance from the button */
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  background: #000;
  color: #FFF;
  padding: 10px 20px;
  width: 360px;
  height: 160px;
}

/* Add triangle arrow */
.ercUpsellPopup::before {
  content: '';
  position: absolute;
  top: -10px; /* Position above the popup */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #000; /* Same color as popup background */
}

.iconBackgroundPopup:hover .ercUpsellPopup {
  visibility: visible;
  opacity: 1;
}

.ercUpsellPopup {
  position: absolute;
  top: calc(100% + 15px); /* Increased distance from the button */
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  background: #000;
  color: #FFF;
  padding: 10px 15px;
  width: 360px;
  height: 166px;
}

.backgroundInner {
  position: relative;
}

.leftUpStars, .rightUpStar, .rightBottomLinesStar, .leftBottomLines {
  position: absolute;
  opacity: 1; 
  width: 44px;
  height: 44px;
}

.leftUpStars {
  top: -16px;
  left: -16px;
}

.rightUpStar {
  top: -16px;
  right: -16px;
}

.rightBottomLinesStar {
  top: 85px;
  right: -18px;
  width: 64px;
  height: 64px;
}

.leftBottomLines {
  top: 105px;
  left: -18px;
}

.headerPremium {
  display: flex;
  justify-content: center;
  align-items: center; /* Alinha verticalmente ao centro */
}

.headerPremiumIcon {
  width: 24px;
  height: 24px;
  fill: #FFF;
}

/* Estilo do conteúdo do popup */
.contentWrapper {
  display: block;
  color: #fff;
  text-decoration: none;
}

.heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.text {
  font-size: 14px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

.headerPrimiumIcon {
  fill: #FAB818;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.freeTrialText {
  font-size: 10px;
  color: #ffb300; /* Cor para o texto 'TESTE GRÁTIS' */
}

.premiumText {
  font-size: 10px;
  color: #DADADA; /* Cor para o texto 'Premium' */
}

.searchContainer {
  display: flex;
  align-items: center;
  /* gap: 16px; */
}

.searchButton {
  background: none;
  border: none;
  cursor: pointer;
}

.headerSvgIcon {
  fill: currentColor;
  width: 24px;
  height: 24px;
  margin-left: 0px;
  cursor: pointer;
}

/* Skeleton Loading Styles */
.skeletonLogo {
  width: 120px;
  height: 40px;
  background-color: #1a1a1a;
  border-radius: 4px;
  animation: pulse 1.5s infinite;
}

.skeletonNavLink {
  width: 80px;
  height: 24px;
  background-color: #1a1a1a;
  border-radius: 4px;
  animation: pulse 1.5s infinite;
}

.skeletonIcon {
  width: 24px;
  height: 24px;
  background-color: #1a1a1a;
  border-radius: 50%;
  animation: pulse 1.5s infinite;
}

.skeletonSpacing {
  margin: 0 8px;
}

.navItem .skeletonSpacing {
  margin: 0 16px;
}

.searchIcon .skeletonSpacing {
  margin: 0 12px;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.6;
  }
}

.ercLogo {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0px;
}

.logoIcon {
  width: 136px;
  height: 60px;
  fill: #f47521;
  transition: fill 0.3s ease;
}

.ercLogo:hover .logoIcon {
  fill: #ffffff;
}

.content {
  position: relative;
  z-index: 1;
  padding-top: 20px;
  text-align: center;
}