.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltipText {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 12px;
  background-color: #23252B;
  color: #fff;
  font-size: 0.8rem;
  white-space: nowrap;
  margin-bottom: 10px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
}

.tooltipText::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #23252B transparent transparent transparent;
}

.tooltip:hover .tooltipText {
  opacity: 1;
}

.iconBookmark {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease-in-out;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

/* Remove o outline do ícone quando não está favoritado */
.iconBookmark.outline {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} 