.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #000000;
}

.title {
  font-size: 34px;
  font-weight: 400;
}

.login-box {
  width: 500px;
}

.register-box {
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 540px;
  text-align: center;
  
}

.form-container {
  padding: 50px;
  margin-bottom: 20px;
}

.title-form {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 40px;
}

/* Remove a borda padrão */
.input-container {
  position: relative;
  margin-bottom: 20px;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input-field {
  color: #FFFFFF;
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #ccc;
  padding: 8px;
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s ease;
  margin-bottom: 10px;
}

.input-label {
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 16px;
  color: #aaa;
  transition: all 0.2s ease;
  pointer-events: none;
  z-index: 1;
}

.input-field:focus + .input-label,
.input-field:not(:placeholder-shown) + .input-label {
  top: -14px;
  left: 8px;
  font-size: 12px;
  color: #ff640a;
}

.input-field:focus {
  border-bottom: 2px solid #ff640a;
}

.register-button {
border: 2px solid #0070f3;  /* Borda azul */
background-color: #fff;     /* Cor de fundo branca */
padding: 10px 20px;         /* Espaçamento interno */

cursor: pointer;           /* Mudança do cursor para indicar que é clicável */
transition: all 0.3s ease;  /* Transição suave para mudanças */
}

.next {

}

.register-button:hover {
color: #fff;               /* Cor do texto ao passar o mouse */
}

.input-field:focus-visible {
  outline: none; /* Remove o contorno de foco se não necessário */
}

.checkbox-text {
  color: #A0A0A0;
  text-align: left;
}

.checkbox-text:hover {
  color: #FFFFFF;
}

.checkbox-text a {
  text-decoration: none;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  margin-top: 10px;
}

.checkbox-input {
  cursor: pointer;
}

.privacy-policy {
  color: #ff640a;
}

.register-button {
  padding: 10px 20px;
  background: transparent;
  border: 1px solid #A0A0A0;
  color: #A0A0A0;
  cursor: pointer;
  width: 20%;
}

.login-link {
  margin-top: 20px;
}

.login-button {
  background: transparent;
  border: 1px solid #A0A0A0;
  cursor: pointer;
  font-size: 14px;
  border-radius: 50px;
  padding: 10px 12px;
  margin: 10px 0px;
  width: 100%;
  transition: all 0.3s ease;
}

.login-button span {
  color: #A0A0A0;
  font-weight: bold;
  transition: all 0.3s ease;
}

.login-button.filled {
  background: #FF640A;
  border: 1px solid #FF640A;
}

.login-button.filled span {
  color: #000000;
}

.login-button:hover {
  opacity: 0.9;
}

.show-password-button {
  position: absolute;
  right: 10px;
  top: 8px;
  background: none;
  border: none;
  color: #A0A0A0;
  cursor: pointer;
  font-size: 12px;
  padding: 5px;
  transition: color 0.3s ease;
  z-index: 2;
}

.show-password-button:hover {
  color: #FFFFFF;
}

.register-link {
  
}

.register-link:hover {
  color: #ff640a;
}
