.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.modalContent {
  background: #23252B;
  padding: 20px;
  max-width: 500px;
  width: 90%;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #FFF;
}

.title {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 20px;
}

.listsContainer {
  margin-top: 20px;
  padding: 10px;
  max-height: 300px;
  overflow-y: auto; 
}

.createListContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.createListInput {
  color: #FFF;
  border-bottom: 1px solid #A0A0A0; 
  background-color: transparent;
  padding: 10px;
  border: none;
  outline: none; 
  transition: border-bottom 0.3s ease;
}

.createListInput:focus {
  border-bottom: 1px solid #ff640a;
  outline: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 1px solid #A0A0A0;
}

.btnCreate {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #A0A0A0;
}

.btnCreate:hover {
  color: #FFF;
} 

.listItem {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #A0A0A0;
}

.listItem:hover {
  background-color: #141519;
}

.textListItem p {
  padding-bottom: 10px;
}

.btnRemoveOrAdd {
  color: #FF5E00;
  cursor: pointer;
  padding: 5px;
  font-size: 32px;
  background-color: transparent;
  border: none;
}

  