.appLayoutContent {
  display: flex;
  justify-content: center;
  align-items: center;
 
  height: 100vh;
  margin-bottom: 600px;
}

.appLayoutContent a {
  text-decoration: none;
  color: gray;
}

.appLayoutContent a:hover {
  text-decoration: none;
  color: white;
}

.appLayoutContent a:active {
  color: white;
}

.iconBookMark {
  width: 32px;
  height: 32px;
}

.iconBookMark path {
  fill: #FFF;
}

.title {
  font-size: 1.9rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.pageWrapper {
  width: 100%;
  max-width: 1100px; /* Ajuste conforme necessário */
  height: 100vh;
  margin: 0 auto;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza o conteúdo verticalmente */
  width: 100%;
}

.myListsHeader {
  width: 100%;
  text-align: center;
  
}

.heading {
  font-size: 24px;
  margin-bottom: 40px;
  margin-top: 60px;
  gap: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 20px; /* Espaço entre as abas */
  border-bottom: 2px solid gray; /* Borda com espessura ajustada */
  width: 96.5%; /* Largura reduzida */
  margin: 0 auto; /* Centraliza o container */
  margin-bottom: 5px;
}


.tabsContentWrapper {
  display: flex;
  gap: 15px;
 
}

.tabsScroller {
  display: flex;
 
}

.tabsItem {
  padding: 20px;
  cursor: pointer;
}

.tabsItemText {
  font-size: 14px;
}

/* .active {
  font-weight: bold;
  color: #ff6f00;
} */

.active {
  border-bottom: 3px solid #FF640A;
}

.watchlistBody {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.ercWatchlist {
  width: 100%;
}

.tabsItem {
  text-decoration: none;
  padding: 16px 32px;
  color: black;
  background-color: transparent;
  transition: all 0.3s ease;
}

.tabsItem:hover {
  background-color: #23252B; /* Fundo ao passar o mouse */
}

.tabsItem.active {
  color: white;
  background-color: black; /* Aba ativa */
  font-weight: bold; /* Opcional: destaque no texto */
}
