/* css default page */
.container {
  width: 100%;
  margin: 0 auto;
  /* padding: 20px; */
}

.epidodesSection {
  padding: 0px 40px;
}

.recommendationsContainer {
  padding: 24px 0;
  width: 1351px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1254px;
  height: 46px;
}

.recommendationsTitle {
  font-size: 1.5rem;
  color: #fff; 
  padding-left: 55px;
}

.recommendationsSection {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.recommendationsSection h2 {
  align-items: left;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #fff; 
}
