.playButton {
  display: flex;
  align-items: center;
  height: 100%;
}

.buttonBookmark {
  display: flex;
  align-items: center;
  height: 100%;
  margin-top: 4px;
}

.iconBookmark {
  margin-left: 8px; 
  border: 2px solid #ff640a;
  padding: 7px;
  align-items: center;
  fill: #ff640a;
  stroke-width: 2;
  height: 1.7rem;
  justify-content: center;
  width: 1.6rem;
  cursor: pointer;
}

.playButton,
.bookmarkButton {
  display: flex; 
  align-items: center; 
  padding: 8px 15px;
  background-color: #ff640a;
  color: #000;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* HeroSection.tsx */
.heroSection {
  width: 100%;
  margin-bottom: 30px;
  transition: height 0.3s ease;
  overflow: hidden;
}

.heroSectionExpanded {
  height: auto; 
}

.heroImage {
  position: relative;
  width: 100%;
  height: 540px; 
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center; 
  justify-content: left;
}

.heroImage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  background-size: cover;
  background-position: center;
  filter: blur(150px);
  z-index: -1;
}

.heroImage::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.05) 0%,
    rgba(0, 0, 0, 0.1) 20%,
    rgba(0, 0, 0, 0.15) 40%,
    rgba(0, 0, 0, 0.3) 60%,
    rgba(0, 0, 0, 0.5) 80%,
    rgba(0, 0, 0, 0.9) 100%
  ),
  linear-gradient(
    to right,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.7) 15%,
    rgba(0, 0, 0, 0.5) 25%,
    rgba(0, 0, 0, 0.2) 35%,
    rgba(0, 0, 0, 0.05) 50%,
    rgba(0, 0, 0, 0.2) 65%,
    rgba(0, 0, 0, 0.5) 75%,
    rgba(0, 0, 0, 0.7) 85%,
    rgba(0, 0, 0, 0.9) 100%
  );
  z-index: 0;
}

.heroContent {
  position: relative;
  z-index: 1;
  text-align: left; 
  color: white;
  padding: 60px;
  margin-bottom: 120px;
}

.heroText h1 {
  color: white;
  font-size: 16px;
}

.name {
  padding-left: 15px;
  color: red;
}

.metaInfoContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
  row-gap: 8px;
}

.metaItem {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  position: relative;
  padding-left: 14px;
}

.metaItem:not(:first-child)::before {
  content: "◆";
  color: #DADADA; 
  font-size: 0.6rem;
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 8px;
}

@media (max-width: 600px) {
  .metaItem {
    padding-left: 12px;
    font-size: 0.8rem;
  }
  
  .metaItem:not(:first-child)::before {
    font-size: 0.6rem;
    left: 2px;
  }
}

.genresList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.genreName {
  color: white;
  text-decoration: underline;
  text-underline-offset: 3px;
  font-size: 0.9rem;
}

.comma {
  margin-right: 4px;
}

.ratingContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.stars {
  display: flex;
  gap: 2px;
}

.starIcon {
  width: 26px;
  height: 26px;
  fill: #ffc107;
}

.scoreText {
  font-size: 0.9rem;
  color: #ddd; 
}

.seriesHeroActionsWrapper {
  display: flex;
  align-items: center;
  gap: 16px; 
  margin-top: 30px;
  flex-wrap: wrap; 
}



.iconPlay {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.titleName {
  font-size: 0.9rem;
  white-space: nowrap;
}

.buttonPrimary {
  background-color: var(--primary-color);
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  white-space: nowrap; 
}

.buttonSecondary {
  background-color: var(--secondary-color);
  padding: 8px 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}

.callToAction {
  display: flex;
}

.playIcon, .watchlistIcon, .actionIcon, .moreIcon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.tooltipContainer {
  position: relative;
  display: inline-block;
  color: #ff640a;
}

.buttonSecondary {
  background-color: var(--secondary-color);
  padding: 8px 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttonSecondary:hover {
  background-color: var(--secondary-hover-color);
}

.tooltip {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.tooltipText {
  visibility: hidden;
  background-color: #23252B;
  color: #fff;
  text-align: center;
  padding: 8px 12px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 0.8rem;
}

.tooltipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #23252B transparent transparent transparent;
}

.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

.iconBookmark {
  width: 20px;
  height: 20px;
  transition: all 0.3s ease-in-out;
}

.actionTooltip {
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actionIcon, .moreIcon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.synopsisContainerMain {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1));
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.synopsisContainer {
  padding-bottom: 40px;
  margin: 0px 60px;
  position: relative;
  margin-top: -14vh; 
  border-bottom: 2px solid #23252B;
}

.synopsisWrapper {
  position: relative;
  max-height: 100px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.synopsisSection.expanded {
  max-height: none;
}

.synopsisWrapper.expanded {
  max-height: 1000px;
}

.synopsisColumns {
  display: flex;
  width: 100%;
  gap: 20px;
}

.synopsisColumn {
  flex: 1;
  
  border-radius: 8px;
}

.metadata {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.metadataItem {
  display: flex;
  gap: 0.2rem;
}

.metadataItem:last-child {
  border-bottom: none;
}

.metadataItem strong {
  color: #FFFFFF; 
  font-size: 0.9rem;
}

.metadataItem span {
  color: #A0A0A0;
  font-size: 0.95rem;
  line-height: 1.4;
}

.buttonContainer {
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

.moreDetailsButton {
  position: absolute;
  bottom: 0px;
  color: #FF6408;
  border: none;
  padding: 8px 0px;
  cursor: pointer;
  transition: background-color 0.2s;
  display: inline-block; 
}

.moreDetailsButton:hover {
  color: #FFF;
}
