.carouselContainer {
  align-items: center;
  width: 100vw;
  margin: 0;
  padding-bottom: 60px;
  position: relative;
  overflow: hidden;
}

/* Container dos cards */
.flexContainer {
  width: 100%;
  align-items: flex-start;
  display: flex;
  overflow-x: hidden;
  gap: 1.37rem;
  scroll-behavior: smooth;
  padding: 0 60px; 
  margin: 0;
}

/* Botões de scroll */
.scrollButton {
  font-size: 24px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollLeft {
  left: 10px;
}

.scrollRight {
  right: 10px;
}


@media (max-width: 768px) {
  .carouselContainer {
    align-items: center;
    width: 100%;
    margin: 0;
    position: relative;
    overflow: hidden;
  }
  
  /* Container dos cards */
  .flexContainer {
    width: 100%;
    align-items: flex-start;
    display: flex;
    overflow-x: hidden;
    gap: 0.5rem;
    scroll-behavior: smooth;
    padding: 0 20px; 
    margin: 0;
  }
  
  /* Botões de scroll */
  .scrollButton {
    display: none;
  }
}