/* Card */
.card {
  position: relative;
  flex: 0 0 264px; /*254*/
  height: 455px; /*437*/
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: left;
}

.card:hover .animeImage {
  height: 100%;
}

.card:hover .cardInfo {
  opacity: 1;
  background-color: rgba(20, 21, 25, 0.9);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.card:hover .nomeDataContainer {
  opacity: 0;
}

.animeLink {
  text-decoration: none;
  color: inherit;
}

.animeImage {
  width: 100%;
  height: 88%;
  object-fit: cover;
}

.nomeDataContainer {
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.nome {
  padding-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: bold;
}

.data {
  padding-top: 10px;
  font-size: 12px;
  margin: 0;
}

.cardInfo {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  padding: 10px;
  color: white;
  text-align: left;
  opacity: 0; 
  background-color: rgba(20, 21, 25, 0.8); 
  transition: color 0.2s ease;
  z-index: 2; 
  height: 100%;
  width: 100%;
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 220px;
}

.flexContainer2 {
  width: 100%;
  display: flex;
  align-items: center;
  gap: .5rem;
  scroll-behavior: smooth;
  margin: 0;
}

.score {
  display: flex;
  justify-content: flex-start;
  align-items: center; 
  gap: 5px;
}

.iconStar {
  margin-left: 2px; 
  font-size: 12px; 
  color: #f1f1f1;
}

/* Informações do anime */
.name,
.infoText,
.synopsis {
  font-size: 14px;
  margin: 5px 0;
  color: #f1f1f1;
}

/* Estilo de Season e Episódios */
.seasonText,
.episodesText {
  font-size: 14px;
  color: #9A9A9A; 
  margin: 5px 0;
}

/* Sinopse com limite de 6 linhas */
.synopsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  width: 220px;
}

/* Botão de play */
.playButton {
  position: absolute;
  bottom: 5px;
  left: 10px;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 3;
}

/* Tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.tooltipText {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

/* Ícones */
.iconPlay,
.iconBookmark,
.iconPlus {
  align-items: center;
  fill:#ff640a;
  display: flex;
  stroke-width: 2;
  height: 1.5rem;
  justify-content: center;
  width: 1.5rem;
}

.iconBookmark {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.iconBookmark.filled {
  color: #FF640A;
}

.iconBookmark.outline {
  color: transparent;
  stroke: #FF640A;
  stroke-width: 2px;
}

/* Tornar os botões visíveis quando o card for hover */
.card:hover .playButton {
  opacity: 1;
}

@media (max-width: 768px) {
  /* Card */
.card {
  position: relative;
  flex: 0 0 141px; /*254*/
  height: 285px; /*437*/
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: left;
}

.card:hover .animeImage {
  height: 100%;
}

.card:hover .cardInfo {
  opacity: 1;
  background-color: rgba(20, 21, 25, 0.9);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.card:hover .nomeDataContainer {
  opacity: 0;
}

.animeLink {
  text-decoration: none;
  color: inherit;
}

.animeImage {
  width: 100%;
  height: 78%;
  object-fit: cover;
}

.nomeDataContainer {
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.nome {
  padding-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: bold;
}

.data {
  padding-top: 10px;
  font-size: 12px;
  margin: 0;
}

.cardInfo {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  padding: 10px;
  color: white;
  text-align: left;
  opacity: 0; 
  background-color: rgba(20, 21, 25, 0.8); 
  transition: color 0.2s ease;
  z-index: 2; 
  height: 100%;
  width: 100%;
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 120px;
}

.flexContainer2 {
  width: 100%;
  display: flex;
  align-items: center;
  gap: .5rem;
  scroll-behavior: smooth;
  margin: 0;
}

.score {
  display: flex;
  justify-content: flex-start;
  align-items: center; 
  gap: 5px;
}

.iconStar {
  margin-left: 2px; 
  font-size: 12px; 
  color: #f1f1f1;
}

/* Informações do anime */
.name,
.infoText,
.synopsis {
  font-size: 14px;
  margin: 5px 0;
  color: #f1f1f1;
}

/* Estilo de Season e Episódios */
.seasonText,
.episodesText {
  font-size: 14px;
  color: #9A9A9A; 
  margin: 5px 0;
}

/* Sinopse com limite de 6 linhas */
.synopsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  width: 120px;
}

/* Botão de play */
.playButton {
  position: absolute;
  bottom: 5px;
  left: 10px;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 3;
}

/* Tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.tooltipText {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

/* Ícones */
.iconPlay,
.iconBookmark,
.iconPlus {
  align-items: center;
  fill:#ff640a;
  display: flex;
  stroke-width: 2;
  height: 1.5rem;
  justify-content: center;
  width: 1.5rem;
}

.iconBookmark {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.iconBookmark.filled {
  color: #FF640A;
}

.iconBookmark.outline {
  color: transparent;
  stroke: #FF640A;
  stroke-width: 2px;
}

/* Tornar os botões visíveis quando o card for hover */
.card:hover .playButton {
  opacity: 1;
}


}
