.container {
  width: 92%;
  margin-left: auto;
  margin-right: auto; /* Centraliza o container */
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Estilo geral para a página de episódios */
.episodesContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Exibe 3 colunas por linha */
  gap: 20px; /* Espaço entre os itens */
  padding: 20px;
}

/* Estilo do cartão de episódio */
.episodeCard {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
}

/* Contêiner da imagem do episódio */
.episodeImageContainer {
  flex-shrink: 0;
  width: 100px; /* Defina o tamanho da imagem */
  height: 170px; /* Defina a altura desejada */
  margin-right: 20px;
  position: relative;
}

.episodeImage {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Garante que a imagem cubra o espaço sem distorcer */
  border-radius: 8px;
}

/* Estilo para as informações do episódio à direita da imagem */
.episodeDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

/* Estilo do bloco de informações do anime */
.animeInfo h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.animeInfo p {
  margin: 0;
  color: #666;
  font-size: 14px;
}

.seeAll {
  text-decoration: none;
  /* Adiciona outras propriedades aqui, se necessário */
}

.titleRealese {
  color: #FFF;
  font-size: 26px;
}


.seeRealese {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seeCalendar {
  color: #A0A0A0;
  font-size: 0.9rem;
  text-decoration: none;
}

.seeCalendar:hover {
  color: #FFF;
}

.titleSection {
  color: red;
}

.angle {
  fill: #FFF;
  width: 24px;
  height: 24px;
}

/* Estilo do bloco de informações do episódio */
.episodeInfo p {
  margin: 5px 0;
  color: #333;
  font-size: 14px;
}

.episodeInfo strong {
  font-weight: bold;
}

/* Estilo da paginação */
.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination button {
  background-color: #213944;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.pagination button.active {
  background-color: #0056b3;
}

.loadMore {
  text-align: center;
  margin-top: 20px;
}

.loadMore button {
  width: 100%;
  background-color: #213944;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.loadMore button:hover {
  background-color: #005bb5;
}

.titleSeeMore {
  color: #FFF;
}
