.animeItem {
  display: flex;
  flex-direction: column;
  width: 293.25px;
  height: 273.33px;
  padding: 10px;
  overflow: hidden;
  transition: transform 0.2s ease;
}

.animeItem:hover {
  background-color: #23252B;
}

.imageContainer {
  width: 100%;
  height: 160px;
  position: relative;
}

.ratingContainer {
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 1;
}

.animeImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texts {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.name {
  font-size: 0.875rem;
  font-weight: 600;
  color: #FFFFFF;
  margin: 0;
  line-height: 1.4;
}

.play {
    color: #A0A0A0;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.audioType {
    color: #A0A0A0;
}
