.carouselContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.arrowButton {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.arrowLeft {
  left: 0;
  margin-left: 10px;
}

.arrowRight {
  right: 0;
  margin-right: 10px;
}

.arrowButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.arrowIcon {
  font-size: 24px;
  color: #333;
}

.animesGrid {
  display: flex;
  gap: 25px;
  overflow: hidden;
  width: 100%;
}

.animesGrid {
  display: flex;
  overflow: hidden;
  width: calc(100% - 0px);
  justify-content: center;
}

.animeCard {
  position: relative;
  flex: 0 0 254px;
  height: 437px;
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: left;
}

.animeCard:hover .animeImage {
  height: 100%;
}

.animeCard:hover .cardInfo {
  opacity: 1;
  background-color: rgba(20, 21, 25, 0.9);
}

.animeCard:hover .nomeDataContainer {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.animeCard:hover .playButton {
  opacity: 1;
}

.animeImage {
  width: 100%;
  height: 85%;
  object-fit: cover;
  transition: height 0.3s ease;
}

.nomeDataContainer {
  position: absolute;
  bottom: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.nome {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: bold;
}

.data {
  font-size: 12px;
  margin: 0;
}

.cardInfo {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  padding: 10px;
  color: white;
  text-align: left;
  opacity: 0;
  background-color: rgba(20, 21, 25, 0.8);
  transition: opacity 0.3s ease, background-color 0.3s ease;
  z-index: 2;
  height: 100%;
  width: 100%;
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 220px;
}

.infoText {
  font-size: 14px;
  margin: 5px 0;
  color: #f1f1f1;
}

.flexContainer {
  display: flex;
  align-items: center;
  gap: 2px;
}

.score {
  display: flex;
  align-items: center;
}

.iconStar {
  margin-left: 2px;
  font-size: 12px;
  color: #f1f1f1;
}

.iconStar {
  font-size: 12px;
}

.seasonText {
  color: #9A9A9A;
}

.episodesText {
  color: #9A9A9A;
}

.synopsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  width: 220px;
}

.playButton {
  position: absolute;
  bottom: 5px;
  left: 10px;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 3;
}

.tooltip {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.tooltipText {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

.iconPlay, .iconBookmark, .iconPlus {
  align-items: center;
  fill: #ff640a;
  display: flex;
  stroke-width: 2;
  height: 1.5rem;
  justify-content: center;
  width: 1.5rem;
}

@media (max-width: 768px) {
  .carouselContainer {
      padding-bottom: 40px;
  }
}

@media (max-width: 480px) {
  .carouselContainer {
      padding-bottom: 20px;
  }
}
