.popularContainer {
  width: 100%;
  padding: 3.75rem 0;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza o contêiner */
}

.header {
  width: 70%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  position: relative;
}

.title {
  font-size: 1.70rem; 
  font-weight: 500;
  font-family: Lato, Helvetica Neue, helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.filters {
  width: 100%;
  max-width: 160px; 
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  align-items: center;
}

.filters button {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  background-color: #23252B;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filters button:hover {
  background-color: #dcdcdc;
}

.filterOptions {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #23252B;
  padding: 10px 0;
  z-index: 10;
}

.item {
  padding: 10px;
}

.item:hover {
  background-color: #1D1E22;
}

.svgBtn {
  padding: 0.6rem;
}

.svgBtn:hover {
  background-color: #23252B;
 
}

.maisPopulares {
  cursor: pointer;
  color: #A0A0A0;
}

.svgIcon {
  width: 14px;
  height: 14px;
  margin-right: 8px;
  fill: #A0A0A0;
}

.gridPopular {
  width: 70%; 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem; 
}

.popularTitle {
  margin: 0; /* Remove margens extras */
  padding: 0; /* Remove o padding */
  font-size: 1.5rem; 
  font-weight: 500;
  font-family: Lato, Helvetica Neue, helvetica, sans-serif;
  text-align: left; /* Garante alinhamento à esquerda */
}

/* Responsividade */
@media (max-width: 768px) {
  .header, .gridPopular {
    width: 90%; /* Reduz a largura para telas menores */
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header h1 {
    font-size: 1.25rem;
  }

  .filters {
    width: 100%; 
    align-items: flex-start;
  }

  .popularTitle {
    font-size: 1.25rem;
  }
}

@media (max-width: 480px) {
  .header, .gridPopular {
    width: 100%; /* Usa toda a largura disponível em telas muito pequenas */
  }

  .header h1 {
    font-size: 1rem; 
  }

  .filters button {
    padding: 8px 12px; 
  }

  .filterOptions button {
    padding: 8px 12px;
  }

  .popularTitle {
    font-size: 1rem; /* Ajusta o tamanho da fonte se necessário */
  }
}
